components/chinese-hip-v1/src/main/resources/wsdl/HIPMessageServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:hl7-org:v3" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://schemas.xmlsoap.org/soap" name="HL7MessageServerService" targetNamespace="urn:hl7-org:v3">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:hl7-org:v3" elementFormDefault="unqualified" targetNamespace="urn:hl7-org:v3" version="1.0">
<xs:element name="HIPMessageServer" type="tns:HIPMessageServer"/>
<xs:element name="HIPMessageServerResponse" type="tns:HIPMessageServerResponse"/>
<xs:complexType name="HIPMessageServer">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="action" type="xs:string"/>
<xs:element form="qualified" minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="HIPMessageServerResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="HIPMessageServer">
    <wsdl:part element="tns:HIPMessageServer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HIPMessageServerResponse">
    <wsdl:part element="tns:HIPMessageServerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HL7MessageServerService">
    <wsdl:operation name="HIPMessageServer">
      <wsdl:input message="tns:HIPMessageServer" name="HIPMessageServer">
    </wsdl:input>
      <wsdl:output message="tns:HIPMessageServerResponse" name="HIPMessageServerResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HL7MessageServerServiceSoapBinding" type="tns:HL7MessageServerService">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="HIPMessageServer">
      <soap12:operation soapAction="HIPMessageServer" style="document"/>
      <wsdl:input name="HIPMessageServer">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HIPMessageServerResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HL7MessageServerService">
    <wsdl:port binding="tns:HL7MessageServerServiceSoapBinding" name="HL7MessageServerPort">
      <soap12:address location="http://localhost:9001/hipMessageServer"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>